@media print {
  #chord-form {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}

#current-key, #new-key {
  width: auto;
}

#chordarea {
  font-family: monospace;
}

#output {
  font-family: monospace;
  white-space: pre;
}

.chord {
  font-weight: bold;
}

.outer {
  position: relative;
}

.bottom-right {
 position:absolute;
 bottom:5px;
 right:5px;
}
